LLDAP_VERBOSE=false
LLDAP_LDAP_HOST=0.0.0.0
LLDAP_LDAP_PORT={{ lldap_ldap_port }}
LLDAP_HTTP_HOST=0.0.0.0
LLDAP_HTTP_PORT={{ lldap_http_port }}
LLDAP_HTTP_URL=https://lldap.{{ edge_base_domain }}
LLDAP_LDAP_BASE_DN={{ lldap_base_dn }}
LLDAP_LDAP_USER_DN=admin
LLDAP_LDAP_USER_PASS={{ lldap_admin_password }}
LLDAP_JWT_SECRET={{ _lldap_jwt_secret.content | b64decode | trim }}
LLDAP_DATABASE_URL=sqlite:///var/lib/lldap/users.db?mode=rwc
