[Unit]
Description=Homepage dashboard
After=network.target

[Service]
Type=simple
WorkingDirectory={{ homepage_install_dir }}/.next/standalone
Environment=HOMEPAGE_CONFIG_DIR={{ homepage_config_dir }}
Environment=HOMEPAGE_ALLOWED_HOSTS={{ edge_base_domain }}
Environment=PORT={{ homepage_port }}
ExecStart=/usr/bin/node server.js
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
