---
- Media:
    - Jellyfin:
        href: "https://jellyfin.{{ homelab_domain }}"
        description: Media server
        ping: "http://{{ hostvars[groups['media'][0]].ansible_host }}:8096"
        icon: jellyfin
{% if groups['arr'] | default([]) | length > 0 %}
    - Radarr:
        href: "https://radarr.{{ homelab_domain }}"
        description: Movie manager
        ping: "http://{{ hostvars[groups['arr'][0]].ansible_host }}:7878"
        icon: radarr
    - Sonarr:
        href: "https://sonarr.{{ homelab_domain }}"
        description: TV show manager
        ping: "http://{{ hostvars[groups['arr'][0]].ansible_host }}:8989"
        icon: sonarr
    - Prowlarr:
        href: "https://prowlarr.{{ homelab_domain }}"
        description: Indexer manager
        ping: "http://{{ hostvars[groups['arr'][0]].ansible_host }}:9696"
        icon: prowlarr
    - Bazarr:
        href: "https://bazarr.{{ homelab_domain }}"
        description: Subtitle manager
        ping: "http://{{ hostvars[groups['arr'][0]].ansible_host }}:6767"
        icon: bazarr
{% endif %}
{% if groups['qbittorrent_vpn'] | default([]) | length > 0 %}
    - qBittorrent:
        href: "https://qbittorrent.{{ homelab_domain }}"
        description: Torrent client (VPN)
        ping: "http://{{ hostvars[groups['qbittorrent_vpn'][0]].ansible_host }}:{{ qbittorrent_port }}"
        icon: qbittorrent
{% elif groups['arr'] | default([]) | length > 0 %}
    - qBittorrent:
        href: "https://qbittorrent.{{ homelab_domain }}"
        description: Torrent client
        ping: "http://{{ hostvars[groups['arr'][0]].ansible_host }}:{{ qbittorrent_port }}"
        icon: qbittorrent
{% endif %}
- Network:
    - AdGuard Home:
        href: "https://adguard.{{ homelab_domain }}"
        description: DNS filtering
        ping: "http://{{ hostvars[groups['adguard'][0]].ansible_host }}:{{ adguard_bind_port }}"
        icon: adguard-home
