[adguard]
lab-adguard ansible_host=192.168.1.210 ansible_user=root

[edge]
lab-edge ansible_host=192.168.1.211 ansible_user=root

[monitoring]
lab-monitoring ansible_host=192.168.1.212 ansible_user=root

[nix]
lab-nix ansible_host=nix.lab.adre.me ansible_user=drew

# [arr]
# lab-arr ansible_host=192.168.1.232 ansible_user=root

# [qbittorrent_vpn]
# lab-qbittorrent-vpn ansible_host=192.168.1.233 ansible_user=root

[media]
lab-jellyfin ansible_host=192.168.1.230 ansible_user=root
