#!/usr/sbin/nft -f

flush ruleset

table inet filter {
  chain input {
    type filter hook input priority filter; policy drop;

    iifname "lo" accept
    ct state established,related accept
    ip protocol icmp accept
    ip6 nexthdr ipv6-icmp accept

    ip saddr {{ qbittorrent_lan_cidr }} tcp dport { 22, {{ qbittorrent_port }} } accept
    iifname "{{ qbittorrent_vpn_interface }}" tcp dport {{ qbittorrent_listen_port }} accept
    iifname "{{ qbittorrent_vpn_interface }}" udp dport {{ qbittorrent_listen_port }} accept
  }

  chain forward {
    type filter hook forward priority filter; policy drop;
  }

  chain output {
    type filter hook output priority filter; policy drop;

    oifname "lo" accept
    ct state established,related accept
    ip daddr {{ qbittorrent_lan_cidr }} accept
    oifname "{{ qbittorrent_vpn_interface }}" accept

    udp dport {{ qbittorrent_vpn_peer_port }} accept
  }
}
