[Unit]
Description=Bazarr
After=network.target radarr.service sonarr.service

[Service]
Type=simple
User={{ bazarr_user }}
Group={{ bazarr_user }}
WorkingDirectory={{ bazarr_install_dir }}
UMask=0002
ExecStart={{ bazarr_install_dir }}/.venv/bin/python {{ bazarr_install_dir }}/bazarr.py --config {{ bazarr_data_dir }}
KillSignal=SIGINT
TimeoutStopSec=20
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
