[Unit]
Description=Byparr
After=network.target

[Service]
Type=simple
User={{ byparr_user }}
Group={{ byparr_user }}
WorkingDirectory={{ byparr_install_dir }}
Environment=HOST=127.0.0.1
Environment=PORT={{ byparr_port }}
Environment=XDG_CACHE_HOME={{ byparr_install_dir }}/.cache
Environment=UV_CACHE_DIR={{ byparr_install_dir }}/.cache/uv
Environment=UV_PYTHON_INSTALL_DIR={{ byparr_install_dir }}/.uv/python
Environment=HOME={{ byparr_install_dir }}
ExecStart=/usr/local/bin/uv run main.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
