# Encrypt this file with: sops secrets/lldap.yaml
lldap-jwt-secret: "replace-with-random-secret"
lldap-admin-password: "replace-with-strong-password"
lldap-user-drew-password: "replace-with-drew-password"
lldap-user-angela-password: "replace-with-angela-password"
