(authelia_guard) {
	forward_auth http://{{ hostvars[groups['authelia'][0]].ansible_host }}:{{ authelia_port }} {
		uri /api/authz/forward-auth
		copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
	}
}

*.{{ edge_base_domain }}, {{ edge_base_domain }} {
{% if edge_tls_mode == "public_dns" %}
	tls {{ edge_tls_cert_path }} {{ edge_tls_key_path }}
{% else %}
	tls internal
{% endif %}

	@authelia host auth.{{ edge_base_domain }}
	handle @authelia {
		reverse_proxy {{ hostvars[groups['authelia'][0]].ansible_host }}:{{ authelia_port }}
	}

	@lldap host lldap.{{ edge_base_domain }} users.{{ edge_base_domain }}
	handle @lldap {
		reverse_proxy {{ hostvars[groups['lldap'][0]].ansible_host }}:{{ lldap_http_port }}
	}

	@adguard host adguard.{{ edge_base_domain }}
	handle @adguard {
		import authelia_guard
		reverse_proxy {{ hostvars[groups['adguard'][0]].ansible_host }}:{{ adguard_bind_port }}
	}

	@jellyfin host jellyfin.{{ edge_base_domain }} watch.{{ edge_base_domain }}
	handle @jellyfin {
		reverse_proxy {{ hostvars[groups['media'][0]].ansible_host }}:8096
	}

{% if groups['arr'] | default([]) | length > 0 %}
{% set arr_host = hostvars[groups['arr'][0]].ansible_host %}
	@radarr host radarr.{{ edge_base_domain }} movies.{{ edge_base_domain }}
	handle @radarr {
		import authelia_guard
		reverse_proxy {{ arr_host }}:7878
	}

	@sonarr host sonarr.{{ edge_base_domain }} tv.{{ edge_base_domain }}
	handle @sonarr {
		import authelia_guard
		reverse_proxy {{ arr_host }}:8989
	}

	@prowlarr host prowlarr.{{ edge_base_domain }} search.{{ edge_base_domain }} indexers.{{ edge_base_domain }}
	handle @prowlarr {
		import authelia_guard
		reverse_proxy {{ arr_host }}:9696
	}

	@bazarr host bazarr.{{ edge_base_domain }} subtitles.{{ edge_base_domain }}
	handle @bazarr {
		import authelia_guard
		reverse_proxy {{ arr_host }}:6767
	}

{% endif %}
{% if groups['qbittorrent_vpn'] | default([]) | length > 0 %}
{% set qbittorrent_host = hostvars[groups['qbittorrent_vpn'][0]].ansible_host %}
	@qbittorrent host qbittorrent.{{ edge_base_domain }} downloads.{{ edge_base_domain }} torrents.{{ edge_base_domain }}
	handle @qbittorrent {
		import authelia_guard
		reverse_proxy {{ qbittorrent_host }}:{{ qbittorrent_port }}
	}

{% elif groups['arr'] | default([]) | length > 0 %}
	@qbittorrent host qbittorrent.{{ edge_base_domain }} downloads.{{ edge_base_domain }} torrents.{{ edge_base_domain }}
	handle @qbittorrent {
		import authelia_guard
		reverse_proxy {{ arr_host }}:{{ qbittorrent_port }}
	}

{% endif %}
{% if groups['homepage'] | default([]) | length > 0 %}
	@homepage host {{ edge_base_domain }}
	handle @homepage {
		import authelia_guard
		reverse_proxy {{ hostvars[groups['homepage'][0]].ansible_host }}:{{ homepage_port }}
	}

{% endif %}
{% for service in edge_extra_services %}
	@service_{{ loop.index }} host {{ service.host }}
	handle @service_{{ loop.index }} {
		reverse_proxy {{ service.upstream }}
	}

{% endfor %}
	handle {
		respond "Unknown homelab service" 404
	}
}
