*.{{ edge_base_domain }} {
{% if edge_tls_mode == "public_dns" %}
	tls {{ edge_tls_cert_path }} {{ edge_tls_key_path }}
{% else %}
	tls internal
{% endif %}

	@adguard host adguard.{{ edge_base_domain }}
	handle @adguard {
		reverse_proxy {{ hostvars[groups['adguard'][0]].ansible_host }}:{{ adguard_bind_port }}
	}

	@jellyfin host jellyfin.{{ edge_base_domain }}
	handle @jellyfin {
		reverse_proxy {{ hostvars[groups['media'][0]].ansible_host }}:8096
	}

{% if groups['arr'] | default([]) | length > 0 %}
{% set arr_host = hostvars[groups['arr'][0]].ansible_host %}
	@radarr host radarr.{{ edge_base_domain }}
	handle @radarr {
		reverse_proxy {{ arr_host }}:7878
	}

	@sonarr host sonarr.{{ edge_base_domain }}
	handle @sonarr {
		reverse_proxy {{ arr_host }}:8989
	}

	@prowlarr host prowlarr.{{ edge_base_domain }}
	handle @prowlarr {
		reverse_proxy {{ arr_host }}:9696
	}

{% endif %}
{% if groups['qbittorrent_vpn'] | default([]) | length > 0 %}
{% set qbittorrent_host = hostvars[groups['qbittorrent_vpn'][0]].ansible_host %}
	@qbittorrent host qbittorrent.{{ edge_base_domain }}
	handle @qbittorrent {
		reverse_proxy {{ qbittorrent_host }}:{{ qbittorrent_port }}
	}

{% endif %}
{% for service in edge_extra_services %}
	@service_{{ loop.index }} host {{ service.host }}
	handle @service_{{ loop.index }} {
		reverse_proxy {{ service.upstream }}
	}

{% endfor %}
	handle {
		respond "Unknown homelab service" 404
	}
}
